html
{
	--bg-gradient-1: #9a9996;
	--bg-gradient-2: #241f31;
	--bg-rotation: -9deg;
	--music-cover:url('commonassets/icons/svgrepo/image-white-svgrepo-com.svg');
}

body
{
	background: linear-gradient(var(--bg-rotation), var(--bg-gradient-2), var(--bg-gradient-1));
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	margin: 0;
	border: 0;
	padding: 0 0 5rem 0;
	font-family: 'Ubuntu', system-ui;
}

#langbtn
{
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;

	padding: 0.5rem;
	font-size: 0.8rem;

	background-color: var(--bg-gradient-2);

	color: #f6f5f4;
	border: 0;
	border-radius: 0.7rem;
	cursor: pointer;
}

#langbtn:hover
{
	text-decoration: underline;
}


#contentScreen
{
	border: 0;
	margin: 0;
	padding: 0;
}

.container
{
	width: 100%;
	display: flex;
	justify-content: center;
}

#contentScreen header
{
	text-align: center;
	backdrop-filter: sepia(40%);
	color: white;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 3rem 0;
	border-radius: 0 0 1rem 1rem;
}

h1
{
	font-size: clamp(1.5rem, 8vw, 4rem);
	margin: 0.3em 0;
}

/*.header-tooltip
{
	padding: 2rem 0 0 0;
	margin: 0;
}*/

.h2-container-container
{
	padding: 2rem 0;
	display: flex;
	justify-content: center;
}

.h2-container
{
	backdrop-filter: sepia(40%);
	width: fit-content;
	padding: 0.5rem;
	margin: 0;
	border-radius: 0.7rem;
}

.h2-container h2
{
	margin: 0;
}

article a img
{
	width: 25rem;
	max-width: 70vw;
	cursor: pointer;
	transition: transform 100ms cubic-bezier(.39,.58,.57,1);
}

article a img:hover
{
	transform: scale(1.1);
}

article
{
	margin-bottom: 1rem;
}

.btn-showthings
{
	margin: 1rem 0;
	width: 100%;
	padding: 0.5rem;
	font-size: 1rem;
	/*border: 1.5px solid #1a5fb4;*/
	border: 0;
	border-radius: 0.7rem;
	/*background-image: linear-gradient(to right, #62a0ea, #1a5fb4);*/
	background-image: linear-gradient(to right, #1a5fb4, #613583);
	color: white;
	font-weight: bold;
	cursor: pointer;
	transition: transform 100ms cubic-bezier(.39,.58,.57,1);
	box-shadow: 0 0 1px 0px #613583 inset, 0 0 1px 0px #613583;
}

.btn-showthings:hover
{
	text-decoration: underline;
	transform: scale(1.1);
}

.musiccontainercontainer
{
	display: flex;
	justify-content: center;
}

.musiccontainer
{
	backdrop-filter: sepia(40%);
	max-width: 80vw;
	width: 37.5rem; /*article witdh + half article width*/
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 12.5rem fit-content(10rem);
	border-radius: 0.7rem;
}

.musiccontainer>div
{
	padding: 1rem;
}

.musiccover
{
	grid-column: 1; grid-row: 1;
	background-image: var(--music-cover);
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	height: 12.5rem; /*Half article width*/
	margin: 0.5rem;
	cursor: pointer;
}

.musicinfo
{
	grid-column: 2; grid-row: 1;
}

.musictitle
{
	margin-bottom: 0.5rem;
}

.musicalbum
{
	margin-bottom: 0.3rem;
}

.musictitle a
{
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
	color: white;
}

.musicalbum a
{
	font-size: 1rem;
	font-weight: bold;
	text-decoration: none;
	color: white;
}

.musicartist a
{
	font-size: 1rem;
	text-decoration: none;
	color: white;
}

.musiclyric
{
	grid-column: 1/4; grid-row: 2;
	font-weight: normal;
	text-align: center;
	overflow-wrap: break-word;
	line-height: 1.4rem;
}

.musictitle a:hover,
.musicalbum a:hover,
.musicartist a:hover
{
	cursor: pointer;
	text-decoration: underline;
}

.listenlink img
{
	height: 2rem;
	margin: 1rem 0 0 0;
	cursor: pointer;
	transition: transform 100ms cubic-bezier(.39,.58,.57,1);
}

.listenlink img:hover
{
	transform: scale(1.2);
}

@media (max-width: 40rem)
{
	.musiccontainer
	{
		display: block;
		text-align: center;
		padding-top: 1rem;
	}

	.musiccover
	{
		height: auto;
		width: 50%;
		aspect-ratio: 1/1;
		display: inline-block;
	}
}

